@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FilmsCatalog.Models.Film.FilmCatalogVM
@{
    ViewData["Title"] = "Каталог фильмов";
}

<h2>Каталог фильмов</h2>

<div class="row" style="margin-bottom:20px; margin-top:20px;">
    <a class="btn btn-success btn-sm" asp-area="" asp-controller="Film" asp-action="CreateFilm">Добавить фильм</a>
</div>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert @Model.MessageType" role="alert">
        @Model.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="row">
    <table class="table" style="margin-bottom:0px;">
        <thead>
            <tr>
                <th>Название</th>
                <th class="text-center" style="width: 100px;">Действия</th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var item in Model.Films)
                {
                    <tr>
                        <td scope="row">
                            @if (!string.IsNullOrEmpty(item.ImageName))
                            {
                            <img src="~/images/@item.ImageName"                                    
                                    height="50" width="50" style="max-width:100%; height:auto;"
                                    asp-append-version="true" />
                            }
                            
                        <a asp-area="" asp-controller="Film" asp-action="GetFilm" asp-route-id="@item.Id">@item.Name</a>
                        </td>
                        <td class="text-center">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-1 col-sm-2">
                                    <a class="btn btn-success btn-sm" asp-area="" asp-controller="Film" asp-action="UpdateFilm" asp-route-id="@item.Id">Изменить</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
